In [3]:
# %load /Users/hwayment/ipynb_defaults.py
%load_ext autoreload
%autoreload 2

%pylab inline
import numpy as np
import pandas as pd

import seaborn as sns
sns.set_style('ticks')
sns.set_context('paper')

from arnie.mfe import mfe
from arnie.pfunc import pfunc
from arnie.bpps import bpps
from ipynb.draw import draw_struct
from RiboGraphViz import RGV
openai  ='open -a "Adobe Illustrator"'

Populating the interactive namespace from numpy and matplotlib

In [4]:
df = pd.DataFrame({'a': [1, NaN, 2], 'b': [NaN, 0, 1]})

In [6]:
df.dropna(subset=['a','b'])

     a    b
2  2.0  1.0